*.torch
models/*
results/*
resources/LM_dictionary1.txt
resources/LM_dictionary2.txt
resources/LM_dictionary3.txt
auto_ldata/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
